@page
@model PizzaPlace.MenuDashboardModel
@{
    ViewData["Title"] = "Menu";
    Layout = "_LayoutDashboard";
}


    <div class="container">

        <h3>Orders:</h3>
        @if (User.IsInRole("Admin"))
        {
            <a asp-page="OrdersList" class="btn btn-primary">All</a>
            <a asp-page="OrdersList" asp-page-handler="NotProcessed" class="btn btn-primary">NotProcessed</a>
            <a asp-page="OrdersList" asp-page-handler="Processed" class="btn btn-primary">Processed</a>
            <a asp-page="OrdersList" asp-page-handler="Done" class="btn btn-primary">Done</a>

            <h2>Users:</h2>

            <a asp-page="UsersList" class="btn btn-primary">Users</a>
            <a asp-page="CreateUser" class="btn btn-primary">Create User</a>
            
        }


        @if (User.IsInRole("Cook"))
        {
            <a asp-page="OrdersList" asp-page-handler="NotProcessed" class="btn btn-primary">NotProcessed</a>
        }

        @if (User.IsInRole("Delivery"))
        {
            <a asp-page="OrdersList" asp-page-handler="Processed" class="btn btn-primary">Processed</a>
        }
    </div>
