@page "{id}"
@model PizzaPlace.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="container">
    <img style="width:100%" src="@Model.MenuItem.ImageUrl" />
    <h1 style="text-align:center">@Model.MenuItem.Title</h1>
    <p style="text-align:center">@Model.MenuItem.Description</p>

    <h2>Price: @Model.MenuItem.Price</h2>
</div>
