@page
@model PizzaPlace.OrderModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Order";
}

<h1>Order</h1>

<div class="container">
    <form asp-page="Order" method="post">
        <div class="form-group">
            <label asp-for="@Model.Order.Name">Name:</label>
            <input asp-for="@Model.Order.Name" class="form-control" placeholder="Enter Name" />
            <span asp-validation-for="@Model.Order.Name" class="text-danger"></span>
        </div>
    </form>
</div>
